<li>
	<%= content_tag :div, 'data-comment-id': comment.id,
									'data-comment-path': vote_board_post_comment_path(comment.post.board, comment.post, comment) do %>
			By <%= comment.display_name current_user %>, <%= pluralize comment.vote_score, 'upvote' %><br/>
			<%= content_tag :p, comment.body %>
			<% unless current_user == nil or (defined? reply and not reply) %>
					<%= content_tag :span, 'reply', class: 'reply-bttn post-bttn' %>
					<% if comment.user == current_user %>
							<%= link_to 'edit', edit_board_post_comment_path(@post.board, @post, comment), class: 'post-bttn' %>
							<%= link_to 'delete', board_post_comment_path(@post.board, @post, comment),
													class: 'post-bttn',
													method: :delete,
													data: {confirm: 'Are you sure?'} %>
					<% end %>
					<%= content_tag :span, 'upvote', class: 'vote-bttn post-bttn', 'data-vote': 'up_vote' %>
					<%= content_tag :span, 'unvote', class: 'vote-bttn post-bttn', 'data-vote': 'no_vote' %>
					<%= content_tag :span, 'downvote', class: 'vote-bttn post-bttn', 'data-vote': 'down_vote' %>
			<% end %>
	<% end %>

	<% if comment.replies.any? and (not defined? recurse or recurse) %>
			<ul class="comments-list">
				<%= render comment.replies %>
			</ul>
	<% end %>
</li>
