<% com = (defined? comment) ? comment : Comment.new %>
<% id = (defined? form_id) ? form_id : 'new_comment' %>
<%= form_for [@post.board, @post, com], html: {id: id} do |f| %>
		<%= hidden_field_tag 'comment[parent_id]' %>
		<p>
			<%= f.label :body %><br>
			<%= f.text_area :body %>
		</p>
		<p>
			<%= f.label :anonymous %><%= f.check_box :anonymous %>
		</p>
		<p>
			<%= f.submit %>
		</p>
<% end %>
