<%= content_tag :h1, 'Profile for ' + @user.alias %>

<hr/>


<%= link_to 'change alias', edit_user_path%>

<%= link_to 'Delete Account', user_path,
						method: :delete,
						data: {confirm: 'Are you sure?'} %>
<hr/>
<%= content_tag :h2, 'Comments:' %>

<ul class="comments-list comments-root">
	<%= render partial: 'comments/comment', collection: @user.comments, locals: {recurse: false, reply: false} %>
</ul>
