<%= dropdown_box do %>
		<%= link_to 'Delete Board', board_path(@board),
								method: :delete,
								data: {confirm: 'Are you sure?'} %><br/>

		<%= link_to 'Add Post', new_board_post_path(@board) %>
<% end %><h1><%= @board.name %></h1>
<%= content_tag :h2, @board.owner.alias %>

<ul class="item-list">
	<% @posts.each do |p| %>
			<li><%= p.vote_score %> <%= link_to p.title, board_post_path(@board, p) %></li>
	<% end %>
</ul>
