<h1>Create Board:</h1>

<%= form_for :post, url: board_posts_path(@board) do |f| %>
		<p>
			<%= f.label :title %><br>
			<%= f.text_field :title %>
		</p>

		<p>
			<%= f.label :contents %><br>
			<%= f.text_area :contents %>
		</p>

		<p>
			<%= f.submit %>
		</p>
<% end %>
