<%= dropdown_box do %>
		<%= link_to 'Delete Post', board_post_path(@post.board, @post),
								method: :delete,
								data: {confirm: 'Are you sure?'} %>
<% end %><h1><%= @post.title %></h1>

<%= content_tag :p, 'By ' + @post.owner.alias %>
<%= content_tag :p, pluralize(@post.vote_score, 'upvote') %>
<%= content_tag :p, @post.contents %>

<%= content_tag :span, 'upvote', class: 'post-vote-bttn post-bttn', 'data-vote': 'up_vote' %>
<%= content_tag :span, 'unvote', class: 'post-vote-bttn post-bttn', 'data-vote': 'no_vote' %>
<%= content_tag :span, 'downvote', class: 'post-vote-bttn post-bttn', 'data-vote': 'down_vote' %>

<!-- TODO: Merge with template -->
<%= content_tag :div, id: 'reply-form', style: 'display: none;' do %>
		<%= content_tag :div, class: 'reply-area' do %>
				Reply:
				<%= render :partial => 'comments/form', locals: {form_id: 'edit_comment'} %>
				<%= content_tag :span, 'cancel', class: 'post-bttn cancel-reply-bttn' %>
		<% end %>
<% end %>

<%= dropdown_box do %>
		<h2>Add comment:</h2>
		<%= render :partial => 'comments/form' %>
<% end %>


<h2>Comments</h2>
<!--TODO there is always one blank comment?-->
<ul class="comments-list comments-root">
	<% if @comments.any? %>
			<%= render @comments %>
	<% else %>
			<h4>There are no comments</h4>
	<% end %>
</ul>


<!-- nav links here -->
<%= link_to 'Back', board_path(@post.board) %>


