/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.alert {
    display: inline-block;
    border: 5px solid #e68082;
    border-radius: 2px;

    background-color: #B00100;
    color: #e68082;

    padding: 3px;
    margin-bottom: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    font-size: 30px;

    box-shadow: 0 2px 3px #000;
    -webkit-user-select: none;
    -moz-user-select: none;
}