// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$list-background: #d6d6d6;
$list-border-outer: 1px #8a8a8a solid;
$list-border: 1px #a4a4a4 solid;

$text-indent: 0.75em;
$reply-end: 0.5em;
$reply-right: 0.5em;

$reply-bttn-font: monospace;
$reply-bttn-size: 0.75em;
$reply-bttn-colour: #0000ff;

.comments-list {
	padding: 0;
	background-origin: content-box;

	border: $list-border-outer;

	li {
		padding: $reply-end 0.25em 0.25em $text-indent;
		list-style-type: none;
		background: $list-background;
	}

	li:not(:last-child) {
		border-bottom: $list-border;
	}

	.comments-list {
		margin-top: $reply-end;
	}

	.post-bttn {
		font: $reply-bttn-font;
		font-size: $reply-bttn-size;

		cursor: pointer;
		color: $reply-bttn-colour;
		text-decoration: none;
	}
}

.comments-root {
}
