$background: #e8e8e8;
$header: #333333;
$header-font: #e7e7e7;
$header-selected: #181818;
$header-highlight: #000000;

$list-background: #d6d6d6;
$list-border-outer: 1px #8a8a8a solid;
$list-border: 1px #a4a4a4 solid;

$dropdown-background: #cacaca;

body {
	margin: 0;
	padding: 0;
	background: $background;
}

nav {
	background: $header;
	text-align: right;

	a {
		color: $header-font;
		padding: 0.75em;
		display: inline-block;
		text-decoration: none;
	}

	a:hover {
		background: $header-highlight;
	}

	.title {
		float: left;
	}
}

#main-contents {
	padding: 15px;
}

h1 {
}

h1, h2, h3 {
	margin: 0;
	display: inline-block;
}

.item-list {
	padding: 0;

	border: $list-border-outer;

	li {
		padding: 0.25em;
		list-style-type: none;
		background: $list-background;
	}

	li:not(:last-child) {
		border-bottom: $list-border;
	}
}

.dropdown {
	margin-right: 0.5em;
}

.dropdown-panel {
	background: $dropdown-background;
	padding: 1em;
	border: 1px solid black;
	position: absolute;
	display: none;
}
