// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reply-area {
	padding: 0.5em;
	border: 1px black solid;
}
