<!DOCTYPE html>
<html>
	<head>
		<title>Anonamit</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<script>
		window.app.teledata = {
			controller: "<%= params[:controller] %>",
			action: "<%= params[:action] %>"
		};
		</script>
		<nav>
			<%= link_to 'NAS-Chan', boards_path, class: 'title' %>
			<% if session[:user] then %>
					<%= link_to current_user.alias, user_path %><%= link_to 'Logout', logout_path %>
			<% else %>
					<%= link_to 'NAS-Auth', '/auth/nas_auth' %>
					<%= link_to 'Dev Auth', '/auth/developer' unless Rails.env.production? %>
			<% end %>
		</nav>
		<div id="main-contents">
			<% flash.each do |key, value| %>
					<%= content_tag :div, class: ['alert', 'alert-' + key] do %>
							<%= value %>
					<% end %>
			<% end %>
			<div id="full">
				<%= yield %>
			</div>
		</div>
	</body>
</html>
